---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%} 

  <!-- AAAAAAA -->

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    
    <!-- <div class="category-links">
      <strong>Browse by category:</strong>
      <ul style="list-style: none; padding-left: 0;">
        {%- assign all_categories = "" | split: "" -%}
        {%- for post in site.posts -%}
          {%- for cat in post.categories -%}
            {%- unless all_categories contains cat -%}
              {%- assign all_categories = all_categories | push: cat -%}
            {%- endunless -%}
          {%- endfor -%}
        {%- endfor -%}
        {%- assign sorted_categories = all_categories | sort -%}
        {%- for category in sorted_categories -%}
          <li style="display: inline; margin-right: 10px;">
            <a href="{{ site.baseurl }}/categories/{{ category | slugify }}/">
              {{ category }}
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </div> -->
    
    <ul class="post-list">
      {%- for post in site.posts -%}
        <!-- NB liquid comments have to be commented specially-->
        {% comment %}
        {% raw %}
        {% if post.categories contains 'main_blog' %}
        {% endraw %}
        {% endcomment %}
            <li>
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                <!-- <span class="post-meta">{{ post.date | date: date_format }}</span> -->
                <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
                <!-- </h3> -->
                <span class="post-meta">
                  {{ post.date | date: date_format }}
                  &nbsp;&nbsp;&nbsp;
                  {{ post.content | number_of_words | divided_by: 180 }} min read
                &nbsp;&nbsp;&nbsp;
                <span class="post-categories">
                  {% for category in post.categories %}
                    <span class="post-category">{{ category }}</span>{% unless forloop.last %}, {% endunless %}
                  {% endfor %}
                </span>
                </span>
                </h3>
                {%- if site.show_excerpts -%}
                {{ post.excerpt }}
                {%- endif -%}
                <br>
            </li>
        {% comment %}
        {% raw %}
        {% endif %}
        {% endraw %}
        {% endcomment %}
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
